<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <div class="login-container">
        <h1>Sign In</h1>
        <form id="loginForm">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="role">Sign In As:</label>
                <select id="role" name="role" required>
                    <option value="eventManagement">Event Management</option>
                    <option value="vendor">Vendor</option>
                </select>
            </div>
            <button type="submit">Sign In</button>
        </form>
    </div>


    <div class="bg-white p-6 rounded-lg shadow-lg mt-6 mx-auto w-80 text-center">
        <a href="events/organizer/landing" class="block bg-purple-600 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-purple-700 focus:outline-none focus:ring focus:ring-purple-300">Organizer Landing Page</a>
        <a href="events/vendor/landing" class="block bg-blue-600 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300">Vendor Landing Page</a>
    </div>
    
    <script src="/scripts/login.js"></script>
</body>
</html>
